.card-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #003554;
  margin: 2px 2px 2px 2px;
  padding: 5px;
  transition: 0.3s;
}

.card-container:hover {
  background-color: #001e2f;
}

.card-container p {
  margin: 0;
}

.information-container {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.location {
  margin-bottom: 5px;
}

.last-updated {
  font-size: 0.8em;
}
