.App {
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: beige;
}

/*setting up the structure of the website*/

.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: brown;
}

.data-container {
  display: flex;
  flex: 4;
  flex-direction: column;
  background-color: tomato;
}

.today-forecast-container {
  display: flex;
  flex: 2;
  background-color: rosybrown;
}

.ResponsiveContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.detailed-data-container {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.precipitation-data-container {
  display: flex;
  flex: 1;
  background-color: azure;
}

.humidity-data-container {
  display: flex;
  flex: 1;
  background-color: thistle;
}

.wind-data-container {
  display: flex;
  flex: 1;
  background-color: steelblue;
}

.other-data-container {
  display: flex;
  flex: 1;
  background-color: slategray;
}

/*structuring inside each section of the webite*/

.inner-container {
  display: flex;
  flex: 1;
  background-color: peachpuff;
  margin: 5px;
  padding: 5px;
}

.row .inner-container {
  margin-top: 0;
}

.current-forecast-container {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.hourly-forecast-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
}

/*current forecast container contents*/

.weather-container {
  display: flex;
  flex: 1;
}

.actual-weather-container {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.feels-like-container {
  display: flex;
  align-items: center;
  background-color: azure;
}

/*detailed data container structuring*/
.data-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: tomato;
}

.title-container {
  display: flex;
  align-items: center;
  background-color: steelblue;
}

.percipitation-amount-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

/*percipitation container structuring*/
.radial-chart-container {
  display: flex;
  flex: 1;
  background-color: violet;
}

/*other indexes container structuring*/
.other-data-container .radial-chart-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 0;
}

.index-container {
  display: flex;
  flex-direction: row;
}

.index-container p {
  margin: 0;
}

.index-indicator-container {
  margin-left: 4px;
}

/*menu structuring*/
.search-button {
  cursor: pointer;
  background-color: aqua;
}

.search-container {
  display: flex;

  background-color: bisque;
}

.search-history-container {
  display: flex;
  flex: 10;
  flex-direction: column;
  overflow: auto;
  background-color: cadetblue;
}

.settings-container {
  display: flex;
  flex: 1;
  background-color: thistle;
}

.dark-mode-button {
  display: flex;
  flex: 2;
  background-color: antiquewhite;
}

.metric-system-button {
  display: flex;
  flex: 1;
  background-color: coral;
}

.imperial-system-button {
  display: flex;
  flex: 1;
  background-color: seagreen;
}

.button {
  align-items: center;
  justify-content: center;
}
