.App {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

/*dark mode styling*/
.dark-d {
  background-color: #051923;
  color: white;
}

.dark-c {
  background-color: #001e2f;
  color: white;
}

.dark-b {
  background-color: #003554;
  color: white;
}

.dark-a {
  background-color: #006494;
  color: white;
}

/*light mode styling*/
.light-d {
  background-color: #6c757d;
  color: black;
}

.light-c {
  background-color: #ced4da;
  color: black;
}

.light-b {
  background-color: #dee2e6;
  color: black;
}

.light-a {
  background-color: #f8f9fa;
  color: black;
}

/*setting up the structure of the website*/

.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 4px 0 4px 4px;
}

.data-container {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.today-forecast-container {
  display: flex;
  flex: 2;
}

.ResponsiveContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.detailed-data-container {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.precipitation-data-container {
  display: flex;
  flex: 1;
}

.humidity-data-container {
  display: flex;
  flex: 1;
}

.wind-data-container {
  display: flex;
  flex: 1;
}

.other-data-container {
  display: flex;
  flex: 1;
}

/*structuring inside each section of the webite*/

.inner-container {
  display: flex;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.row .inner-container {
  margin-top: 0;
}

.current-forecast-container {
  display: flex;
  flex-direction: column;
}

.hourly-forecast-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*current forecast container contents*/

.weather-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.actual-weather-container {
  display: flex;
  align-items: center;
}

.feels-like-container {
  display: flex;
  align-items: center;
}

.feels-like-container {
  font-size: 1.1em;
}

.weather-text {
  font-size: 1.8em;
  margin: 0;
  display: flex;
}

.feels-like-container {
  margin-left: 4px;
}
/*detailed data container structuring*/
.data-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.percipitation-amount-container {
  display: flex;
  align-items: flex-start;
}

.percipitation-amount-container p {
  font-size: 1.5em;
}

/*percipitation container structuring*/
.radial-chart-container {
  display: flex;
  flex: 1;
}

.indicator-icon {
  font-size: 1.4em;
  margin-right: 5px;
}

/*other indexes container structuring*/
.other-data-container .radial-chart-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 0;
}

.index-container {
  display: flex;
  flex-direction: row;
}

.index-container p {
  margin: 0;
}

.index-indicator-container {
  margin-left: 4px;
}

/*menu structuring*/
.search-button {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding: 2px 0 2px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #001e2f;
  color: white;
}

.search-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
  border: none;
  padding-right: 2px;
  font-size: 1em;
}

.search-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 4px 0 4px;
}

.search-history-container {
  display: flex;
  flex: 12;
  flex-direction: column;
  overflow: scroll;
}

.settings-container {
  display: flex;
  flex: 1;
}

.dark-mode-button {
  display: flex;
  flex: 2;
  cursor: pointer;
  border-right: 2px solid #006494;
}

.metric-system-button {
  display: flex;
  flex: 1;
  cursor: pointer;
  border-right: 2px solid #006494;
}

.imperial-system-button {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.button {
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.button:hover {
  background-color: #001e2f;
  color: white;
}

/*wind direction container structuring*/
.wind-direction-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.text-degree-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  margin: 0 0 0 4px;
  color: #f25c54;
}
